<div id="sidebar" class="d-flex flex-column p-3 bg-light" style="width: 250px; min-height: 100vh;">
  <h4 class="text-center mb-3">Customer Menu</h4>
  <hr>
  <a href="search-teacher.html" class="nav-link text-dark page-link mb-2">
    <i class="fa fa-search"></i> Tìm kiếm Giáo viên
  </a>
  <a href="search-student.html" class="nav-link text-dark page-link mb-2">
    <i class="fa fa-user-graduate"></i> Tìm kiếm Học sinh
  </a>
  <a href="schedule.html" class="nav-link text-dark page-link mb-2">
    <i class="fa fa-calendar-alt"></i> Xem Lịch học
  </a>
</div>


