<div id="sidebar" class="d-flex flex-column p-3 bg-dark text-white" style="width: 250px; min-height: 100vh;">
  <h4 class="text-center mb-3">Menu</h4>
  <hr>
  <a href="#" class="nav-link text-white page-link mb-2">
    <i class="fa fa-home"></i> Dashboard
  </a>
  <a href="../students/index.html" class="nav-link text-white page-link mb-2">
    <i class="fa fa-user-graduate"></i> Quản lý Học sinh
  </a>
  <a href="../classes/index.html" class="nav-link text-white page-link mb-2" >
    <i class="fa fa-chalkboard-teacher"></i> Quản lý Giáo viên
  </a>
  <a href="../teachers/index.html" class="nav-link text-white page-link mb-2" >
    <i class="fa fa-school"></i> Quản lý Lớp
  </a>
  <a href="../schedules/index.html" class="nav-link text-white page-link mb-2">
    <i class="fa fa-calendar-alt"></i> Thời khóa biểu
  </a>
  <a href="../grades/index.html" class="nav-link text-white page-link mb-2" >
    <i class="fa fa-chart-bar"></i> Quản lý Điểm
  </a>
  <a href="logout.html" class="nav-link text-white mt-3"><i class="fa fa-sign-out-alt"></i> Đăng xuất</a>
</div>

